extends ../layout

block content
  //- section.hero.is-light
  //-   .hero-body
  //-     .container
  //-       h1.title Plannings
  .columns.is-centered.is-marginless
    .column.is-8
      #wsjf
        router-view

  script(src="/js/build.js")