extends layout

block content
  header.hero.login
    .container.hero-body
      h1.title Weighted shortest job first
  .login-form
    .card
      h2.title Login
      hr
      a.button.is-social.is-primary(href='/auth/google')
        span.icon
          i.mdi.mdi-google
        span Login with Google
