extends layout

block content
  .hero.is-light
    .container.hero-body
      h1.title Login
      a.button.is-primary(href='/auth/google')
        span.icon
          i.mdi.mdi-google
        span Login with Google
