doctype html
html
  head
    meta(name='viewport' content='initial-scale=1')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css')
    link(rel="stylesheet", href='https://cdn.jsdelivr.net/npm/animate.css@3.5.2/animate.min.css')
  body
    if user
      .navbar.is-dark
        .navbar-brand
          .navbar-burger
            span
            span
            span
          
        .navbar-menu
          .navbar-start
            a.navbar-item(href='/wsjf') WSJF
            a.navbar-item(href='/user') User
    block content
