extends ../layout

block content
  script.
    const plannings = !{JSON.stringify(plannings)};
  section.hero.is-light
    .hero-body
      .container
        h1.title Plannings
  .container
    #wsjf
      wsjf-app
  script(src="/js/build.js")